/.DS_Store/*
/.others/*
/.venv/*
/buildstatus/*
/bin/*
gns3_thesis/*
gns3-thesis/*
AttackerNode/bening_traffic/*
AttackerNode/hakai/*
AttackerNode/hajime/*
AttackerNode/h_scan/*
AttackerNode/torii/*
AttackerNode/mirai/*
AttackerNode/gafgyt/*
AttackerNode/muhstik/*
AttackerNode/muhstik_old/*
AttackerNode/cc_heartbeat/*
AttackerNode/generic_ddos/*
AttackerNode/okiru/*
VictimNode/hue/*
VictimNode/doorlock/*
VictimNode/echo/*
topology-handler/__pycache__/
poxController/smartController/admin_dashboard/__pycache__/
poxController/jesus_wandb_api_key.txt