/.DS_Store/*
/.others/*
/.venv/*
/buildstatus/*
/bin/*
.vscode
.env

# These are our venvs environments names:
gns3_thesis/*
gns3-thesis
venv
smartville_venv


AttackerNode/bening_traffic/*
AttackerNode/muhstik_old/*
utils/__pycache__/
utils/star_topology_dista_server.py
utils/container_manager pro.py
poxController/smartController/admin_dashboard/__pycache__/
poxController/jesus_wandb_api_key.txt