/.DS_Store/*
/.others/*
/.venv/*
/buildstatus/*
/src/__pycache__/
/bin/*
gns3_thesis/*
AttackerNode/attacker_bening_flows/*
AttackerNode/horizontal_scan_flows/*
AttackerNode/muhstik_botnet_flows/*

VictimNode/bening_flows/*

/bin/*
gns3_thesis/*
AttackerNode/bening_traffic/*
AttackerNode/h_scan/*
AttackerNode/muhstik/*
AttackerNode/cc_heartbeat/*
AttackerNode/generic_ddos/*
AttackerNode/okiru/*
VictimNode/hue/*
VictimNode/doorlock/*
VictimNode/echo/*
topology-handler/__pycache__/